
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,84,0);
    background: linear-gradient(0deg, rgba(255,84,0,1) 0%, rgba(0,0,0,1) 54%);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.container-1{
 background-color: #ffffff73;

 display: flex;
 align-items: center;
 justify-content:center;
 flex-direction: column;
   padding: 20px;
 border-radius: 20px;
   width: 350px;
   height: 400px;


}
.links{
  margin-top:40px;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    
}
.links-2 {
     padding: 10px;
     background-color: #fff;
     width: 320px;
     margin: 15px;
     margin-top: 30px;
     border-radius: 15px;
     cursor: pointer;
     text-decoration: none;
     color: #111;
     height: 40px;
     text-align: center;
       box-shadow: 10px 6px 24px -4px rgba(4, 15, 15, 0.607) ;
     transition: .3s ease-in-out;
     font-size: 12px;
     font-weight: 700;
    display: flex;
    align-items: center;
    color: black;
}
.links-2 a{
  text-decoration: none;
  color:#111;
  display: flex;
  align-items: center;
 }
 .links-2 a:hover{
    color: #ff5400;
 }
.links-2 img{
  margin-right:130px;
}
.localizacao img{
    margin-right: 145px;
}





footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    color: #F26938;
    width: 100%;
    height: 30px;
    background-color: #242526;

}
footer a{
      text-decoration: none;
      color:#fff;
      margin-left:10px;
}